<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>
<body>
	<!-- Header -->
	<%- include('./partials/header.ejs')%>
	<!-- /Header -->
	
	<!-- Banner -->
	<!--<div class="banner">
		<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>-->

	<header class="headerVideo">
		<div class="overlay"></div>
		<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
		  <source src="https://content.rolex.com/dam/watches/hubs/all-watches/videos/hub-collection-watches-cover.mp4" type="video/mp4">
		</video>
		<div class="container h-100">
		  <div class="d-flex h-100 text-center align-items-center">
		  </div>
		</div>
	  </header>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/Panerai1.jpg" alt="Panerai">
						</figure>
						<article class="product-box_data">
							<h2>Luminor Panerai</h2>
							<p>Mecánico automático, calibre P.9200, íntegramente realizado por Panerai, 13 ¼ líneas, 6,25 mm de espesor, 17 rubíes, volante Glucydur®, 28 800 alternancias/hora. Dispositivo antichoque Incabloc®. Reserva de marcha de 42 horas, un barrilete.</p>
							<p>Comentarios: 6</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/Rolex1.jpg" alt="Rolex">
						</figure>
						<article class="product-box_data">
							<h2>Rolex GMT-Master II</h2>
							<p>Diseñado para mostrar la hora en dos husos horarios simultáneamente, el GMT‑Master, presentado en 1955, se desarrolló originalmente como un instrumento de navegación para los profesionales que recorren el mundo.</p>
							<p>Comentarios: 14</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/Panerai2.jpg" alt="Panerai">
						</figure>
						<article class="product-box_data">
							<h2>Luminor GMT</h2>
							<p>Tomando como inspiración la caja del histórico Luminor 1950, creada para los comandos submarinos de la Armada italiana, el Luminor reinterpreta estas proporciones clásicas de una manera contemporánea, conservando todas las características que, con los años, han hecho de este reloj un icono de la relojería deportiva de lujo.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/Rolex2.jpg" alt="Rolex">
						</figure>
						<article class="product-box_data">
							<h2>Rolex Yacht-Master II</h2>
							<p>Inspirado en el rico patrimonio que ha unido Rolex con el mundo de la navegación desde los años cincuenta, el Yacht‑Master II reúne la excelente tecnología de Rolex para crear un cronógrafo de regata diseñado para las competiciones de vela.</p>
							<p>Comentarios: 38</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/jl.jpg" alt="JL">
						</figure>
						<article class="product-box_data">
							<h2>Jaeger Lecoultre Reverso</h2>
							<p>Incluso después de 188 años de constante innovación y savoir-faire, Jaeger-LeCoultre sigue estableciendo nuevos límites en el arte de la alta relojería mecánica. Durante sus 6 años de investigación y desarrollo, nuestros relojeros crearon un movimiento completamente nuevo desde cero que está totalmente integrado con complicaciones excepcionales. Con más de 800 componentes, entre ellos un centenar exclusivo para la indicación de la caja integral, su movimiento es una nueva referencia en el arte de la alta relojería.</p>
							<p>Comentarios: 2</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/Rm.jpg" alt="RM">
						</figure>
						<article class="product-box_data">
							<h2>Richard Mille 65-01</h2>
							<p>La culminación de unos cinco años de desarrollo, este cronógrafo automático de fracción de segundo es el reloj más complejo que jamás haya salido de los talleres de Richard Mille. Este modelo encarna completamente el enfoque técnico de la marca gracias a la combinación de varias funciones adicionales, una arquitectura muy específica y una estética extremadamente alta. En definitiva, un fabuloso desafío de la relojería mecánica que requería paciencia, tecnicismo y absoluta perseverancia.</p>
							<p>Comentarios: 71</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/ap.jpg" alt="AP">
						</figure>
						<article class="product-box_data">
							<h2>Audemars Piguet Titanium</h2>
							<p>Una elegante esfera gris pizarra pulida con chorro de arena revela la caja del tourbillon volante a las 6 en punto y complementa la caja y el brazalete de titanio ultraligero del nuevo Selfwinding Flying Tourbillon.</p>
							<p>Comentarios: 40</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/pf.jpg" alt="PF">
						</figure>
						<article class="product-box_data">
							<h2>Parmigiani Fleurier Kalpagraphe Chronometre</h2>
							<p>La colección Kalpa vuelve a ocupar un lugar central en 2019 con el lanzamiento de un nuevo y atrevido modelo masculino en titanio. El Kalpagraphe Chronomètre Titanium es un cronógrafo integrado en forma de tonel hecho completamente en casa. El movimiento está diseñado para encajar exactamente dentro de la caja, como en todos los relojes Kalpa. El reloj tiene ese toque deportivo ultramoderno que lo hace verdaderamente distintivo.</p>
							<p>Comentarios: 28</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>	
</html>