<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="todo">
					<% if(locals.errors){ %>
						<p style="color:red"><%= locals.errors.message %> </p>
					<% } %>
				
				<form id="ingresoform" name="ingfor" action="/login" method="POST">
					<div class="divform">
						<div class="marcd1" id="primdiv">
							<label class="Llc">Mail:</label>
							<input class="inpp inppp1" type="text" name="mail" id="n1">
						</div>
						<div class="marcd2">
							<label class="Llc">Constraseña:</label>
							<input class="inpp inppp2" type="password" name="contrasena" id="c1">
						</div>
						<p>
							<input type="checkbox" name="rememberme" value="ok">
							Recordame
						</p>
						<div class="noar">
						<input type="submit" class="bot" value="Iniciar Sesión"></div>
					</div>
				</form>
				</div>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>