<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs')%>
	<!-- /Header -->
	<!--<header class="main-header"> SI ESTA MAL DESCOMENTAR
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5 col-md-2">
					<a href="/" class="main-header_home-link">
						<img src="./images/logo-mercado-liebre.svg">
					</a>
				</div>
	
				<div class="col-7 col-md-6">
					<form action="search-results.html" method="GET" class="search-form">
						<input type="text" name="search" placeholder="Buscar productos, marcas y más"
							class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
	
				<div class="col-12 col-md-4">
					<a class="main-header_credit-link">
						<i class="fas fa-hand-holding-usd"></i>
						Todas las opiniones en un solo lugar.
					</a>
				</div>
			</div>
	
			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>
	
			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a href="/">Todos los productos</a></li> HASTA ACA DESCOMENTAR -->
					<!-- solo logueado <li><a href="">Cargar productos</a></li> -->
				<!-- </ul> SI ESTA MAL DESCOMENTAR
	
				<ul class="right-navbar"> HASTA ACA DESCOMENTAR -->
					<!-- Solo logueado <li><a href="profile.html">
								Nombre del usuario <i class="fas fa-user"></i>
							</a>
						</li>
						<li>
							<form action="" method="post">
								<button class="logout" type="submit">
									Cerrar sesión <i class="fas fa-sign-in-alt"></i>
								</button>
							</form>
						</li> -->
					<!--<li>
						<a href="/register">Creá tu cuenta <i class="far fa-address-card"></i>
						</a>
					</li>
					<li>
						<a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
 HASTA ACA DESCOMENTAR -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Rolex Yacht-Master II</h2> 
			<p class="product-detail-description">
				<a href="/product/edit">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="images/products/Rolex2.jpg" alt="Rolex">
					<p class="product-detail-description">
						Inspirado en el rico patrimonio que ha unido Rolex con el mundo de la navegación desde los años cincuenta, el Yacht‑Master II reúne la excelente tecnología de Rolex para crear un cronógrafo de regata diseñado para las competiciones de vela.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="images/users/profile.jpg" alt="profile image">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile">LNorris4</a> </strong>
								 El producto presenta una gran calidad en sus materiales. Muy recomendable!!</p>
							</div>
						</article>
						<article>
							<img src="images/users/dami-adebayo-k6aQzmIbR1s-unsplash.jpg" alt="profile image">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">jdoe</a> </strong>
									La verdad es que me ha impresionado, luce muy bien, es muy bonito.</p>
							</div>
						</article>
						<article>
							<img src="images/users/michael-dam-mEZ3PoFGs_k-unsplash.jpg" alt="profile image">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">spaulson</a> </strong>
									Son los únicos relojes que me gustan. Este modelo en concreto es precioso, un reloj para vestir con tu toque informal.
									</p>
							</div>
						</article>
						<article>
							<img src="images/users/ayo-ogunseinde-sibVwORYqs0-unsplash.jpg" alt="profile image">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">ayoseinde</a> </strong>
									Después de varios meses de uso estoy muy contento con él. Contra mayor uso más bonita se pone la correa. Además se ve la hora con total claridad.</p>
							</div>
						</article>
						<article>
							<img src="images/users/jurica-koletic-7YVZYZeITc8-unsplash.jpg" alt="profile image">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">jkoletic</a> </strong>
									Producto excelente, cumple de sobra con las expectativas. Muy recomendado para alguien que quiera un reloj a buen precio y con todas las funciones que se suelen requerir. Correa duradera y cómoda, el tamaño es comedido, en ningún caso molesta, muy cómodo de llevar. Recomendado.</p>
							</div>
						</article>

					</section>
					<form class="form" action="/product" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->

</body>	
</html>