<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form id="ingresoform" name="ingfor">
					<div class="divform">
						<div class="marcd1" id="primdiv">
							<label class="Llc">Nombre del reloj: </label>
							<input class="inpp inppppp1" type="text" name="nom" id="n1">
						</div>
                        <div class="marcd2" id="primdiv">
							<label class="Llc">Descripción: </label>
							<input class="inpp inppppp2" type="text" name="nom" id="n1">
						</div>
						<div class="noar">
						<input type="submit" class="bot" id="botonFin" value="Agregar reloj"></div>
					</div>
				</form>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>