<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<h2 class="col-12"> 
				<div class="todo">
				<form id="ingresoform" name="ingfor">
					<div class="divform">
						<div class="marcd1" id="">
							<label class="">Nombre del reloj:</label>
							<input class="inpp inpppp1" type="text" name="nom" id="n1">
						</div>
						<div class="marcd">
							<label class="">Descripción:</label>
							<input class="inpp inpppp2" type="email" name="co" id="c1">
						</div>
						<div class="marcd2">
							<label class="">Link imagen</label>
							<input class="inpp inpppp3" type="password" name="co" id="c1">
						</div>
						<div class="divterminos">
						</div>
						<div class="noar">
						<input type="submit" class="bot" id="" value="Agregar reloj"></div>
					</div>
				</form>
				</div>
			</h2>

		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>