<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form id="ingresoform" name="ingfor">
					<fieldset>
						<legend id="titulo" class="Llc"></legend> 
						<div class="marcd" id="primdiv">
							<label class="Llc">Nombre del reloj: </label>
							<input type="text" name="nom" id="n1">
						</div>
                        <div class="marcd" id="primdiv">
							<label class="Llc">Descripción: </label>
							<input type="text" name="nom" id="n1">
						</div>
						<input type="submit" class="no" id="botonFin" value="Agregar reloj" onmouseover="validarUlti()" onclick="Login()">
					</fieldset>
				</form>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>