<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="todo">
				<form id="ingresoform" name="ingfor">
					<div class="divform">
						<div class="marcd1" id="primdiv">
							<label class="Llc">Nombre de usuario:</label>
							<input class="inp1 inpp" type="text" name="nom" id="n1">
						</div>
						<div class="marcd">
							<label class="">Correo:</label>
							<input class="inp2 inpp" type="email" name="co" id="c1">
						</div>
						<div class="marcd">
							<label class="">Fecha de nacimiento:</label>
							<input class="inp3 inpp" type="date" name="co" id="c1">
						</div>
						<div class="marcd">
							<label class="">Prefijo:</label>
							<input class="inp4 inpp" type="tel" name="co" id="c1" pattern="[0-9]{2}" placeholder="XX">
						</input>
						</div>
						<div class="marcd2">
							<label class="">Teléfono:</label>
							<input class="inp5 inpp" type="tel" name="co" id="c1" pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}" placeholder="XX-XXXX-XXXX">
						</input>
						</div>
						<div class="noa">
						<input type="submit" class="bot" value="Guardar Cambios">
						<input type="submit" class="bot" value="Olvidé mi contraseña">
						</div>
					</div>
				</form>
				</div>
			</h2>

		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>

<!-- footer -->