<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="todo">
				<form id="ingresoform" name="ingfor">
					<fieldset class="fset">
						<div class="" id="">
							<label class="">Nombre de usuario:</label>
							<input type="text" name="nom" id="n1">
						</div>
						<div class="">
							<label class="">Correo:</label>
							<input type="email" name="co" id="c1">
						</div>
						<div class="">
							<label class="">Constraseña:</label>
							<input type="password" name="co" id="c1">
						</div>
						<div class="">
							<label class="">Confirmar constraseña:</label>
							<input type="password" name="co" id="c1">
						</div>
						<div class="">
							<label class="">Fecha de nacimiento:</label>
							<input type="date" name="co" id="c1">
						</div>
						<div class="">
							<label class="">Prefijo (si es necesario):</label>
							<input type="tel" name="co" id="c1" pattern="[0-9]{2}" placeholder="XX">
						</input>
						</div>
						<div class="">
							<label class="">Teléfono:</label>
							<input type="tel" name="co" id="c1" pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}" placeholder="XX-XXXX-XXXX">
						</input>
						</div>
						<div class="divterminos">
							<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
							<label for="vehicle1" class="termycon">He leído y acepto los Términos y Condiciones</label><br>
						</div>
						
						<input type="submit" class="botonreg" id="" value="Registrarse">
					</fieldset>
				</form>
				</div>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>