<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="todo">
				<form id="ingresoform" name="ingfor">
					<fieldset>
						<legend id="titulo" class="Llc"></legend>
						<div class="marcd" id="primdiv">
							<label class="Llc">Nombre de usuario:</label>
							<input type="text" name="nom" id="n1">
						</div>
						<div class="marcd">
							<label class="Llc">Correo:</label>
							<input type="text" name="co" id="c1">
						</div>
						<div class="marcd">
							<label class="Llc">Constraseña:</label>
							<input type="password" name="co" id="c1">
						</div>
						<div class="marcd">
							<label class="Llc">Fecha de nacimiento:</label>
							<input type="date" name="co" id="c1">
						</div>
						<div class="marcd">
							<label class="Llc">Teléfono:</label>
							<input type="number" name="co" id="c1">
						</div>
						<input type="submit" class="no" id="botonFin" value="Registrarse" onmouseover="validarUlti()" onclick="Login()">
					</fieldset>
				</form>
				</div>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>