<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<div class="todo">
				<form id="ingresoform" name="ingfor" action="/register" method="POST" enctype="multipart/form-data">
					<div class="divform">
						<div class="marcd1" id="">
							<label class="">Nombre de usuario:</label>
							<input class="inpp inpp1" type="text" name="username" id="n1">
						</div>
						<div class="marcd">
							<label class="">Correo:</label>
							<input class="inpp inpp2" type="email" name="mail" id="c1">
						</div>
						<div class="marcd">
							<label class="">Imagen:</label>
							<input class="inpp inpp2" type="file" name="imagen" id="c1">
						</div>
						<div class="marcd">
							<label class="">Constraseña:</label>
							<input class="inpp inpp3" type="password" name="contrasena" id="c1">
						</div>
						<div class="marcd">
							<label class="">Confirmar constraseña:</label>
							<input class="inpp inpp4" type="password" name="contraseña2" id="c1">
						</div>
						<div class="marcd">
							<label class="">Fecha de nacimiento*:</label>
							<input class="inpp inpp5" type="date" name="nacimiento" id="c1">
						</div>
						<div class="marcd2">
							<label class="">Teléfono*:</label>
							<input class="inpp inpp7" type="tel" name="telefono" id="c1" placeholder="XX-XXXX-XXXX">
						</input>
						</div>
						<div class="noar">
						<input type="submit" class="bot" id="" value="Registrarse">
						</div>
						<div class="noobli">* Campos no obligatorios</div>
						<% if(locals.errors){ %>
							<div class="diverr"><p style="color:rgb(255, 64, 64)" class="msjerror"><%= locals.errors.message %> </p></div>
						<% } %>
					</div>
				</form>
				</div>
			</h2>
		</div>
	</div>
	<!-- footer (ESTE COMENTARIO ESTA DE MÁS)-->
	<%- include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>