<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="foot-payment">
                <div class="container-crypto">
                    <div class="img1"><img src="/images/eth.png" width="15px" alt="ethereum"></div>
                    <div class="img2"><img src="/images/btc.png" width="20px" alt="bitcoin"></div>
                    <div class="img3"><img src="/images/doge.png" width="15px" alt="dogecoin"></div>
                </div>
                <article class="footer-data">
                    <!--<h2>Metodos de pago:</h2>-->
                    <p>Transferencia bancaria - MercadoPago - Criptomonedas</p>
                </article>
            </div>
        </div>
    </div>
    <div class="nomylogo">
        <div class="nombres">
            <div id="name" class="aa">Mateo Pautasso Cavanagh - Francisco Seidman - Lucas Ruiz Coines</div>
            <div id="name" class="aa">Copyright © 2021 Watch24. All rights reserved.</div>
        </div>
    </div>
</footer>